---
layout: default
title: "Features"
---
<div class="flex flex-col w-full justify-center items-center">
  <div class="flex flex-col items-center justify-center max-w-4xl">
    <h1 class="text-4xl mb-4">
      <span class="border-b-4 border-mapzy-violet">Features</span>
    </h1>
    <div class="text-center">
      <p class="my-4">
        Mapzy focuses on doing few things really well. Our goal is that you can add a map with your stores (or any kinds of points) to your website as simply and quickly as possible. Mapzy is privacy-friendly, doesn't track your visitors or add any non-essential cookies, complying fully with GDPR.
      </p>
    </div>

    {% include single_feature.html
      title="Add locations"
      description="With the Mapzy dashboard, you can add any location to your map by entering the address or the coordinates. For each location, you can add a description and opening times. While we call Mapzy a store finder, there's no restrictions on what type of locations you can add. Restaurants, events, points of interest? Go wild!"
      image_path="/assets/images/mapzy_map.png"
    %}

    {% include single_feature.html
      title="Embed your map"
      description="Embedding your map on your own mapsite is a piece of cake. Just copy the displayed embed code and paste it in your website where you want your map to appear. Mapyz works with any website where you can add HTML - Shopify, Webflow, Squarespace - anything, really."
      image_path="/assets/images/mapzy_map.png"
    %}

    {% include single_feature.html
      title="Privacy-friendly"
      description="We've buit Mapzy with privacy in mind. We don't track your visitors and we only set one essential cookie (to see see if the visitor has already granted location permission). Mapzy is fully compliant with GDPR, and you don't need to show an ugly cookie banner (at least, not because of Mapzy). We host Mapzy in a data center in Frankfurt, Germany, which is powered by 100% renewable energy. We guarantee that your data doesn't leave the EU."
      image_path="/assets/images/mapzy_map.png"
    %}

    {% include single_feature.html
      title="No-code"
      description="Simplicity is key. Using the Mapzy dashboard, you can create your map in mere minutes without touching a line of code."
      image_path="/assets/images/mapzy_map.png"
    %}

    {% include single_feature.html
      title="Open-source and self-hostable"
      description="Mapzy's source code is fully open-source and available on <a href='https://github.com/mapzy/mapzy'>GitHub</a>. This means that you can host yourself for free with the same features as the managed version and without any restrictions. If you're a developer, you're welcome to contribute Mapzy, too!"
      image_path="/assets/images/mapzy_map.png"
    %}
  </div>
</div>