<footer>
  <div class="flex flex-col md:flex-row justify-evenly items-start md:items-center pt-8 pb-12 bg-mapzy-violet text-gray-200">
    <div class="flex flex-col justify-start items-start px-10 mb-10 md:w-1/3 md:mb-0">
      <div class="h-12">
        <img src="{{ "/assets/images/logo_without_text.png" | relative_url }}" class="h-full"/>
      </div>
      <p>
      Mapzy is independent, self-funded and open-source (<a class="text-white" href="https://github.com/mapzy/mapzy">GitHub</a>).
      Made by <a class="text-white" href="https://twitter.com/SagGpt">@saggpt</a>, <a class="text-white" href="https://twitter.com/canolcer">@canolcer</a> and <a class="text-white" href="https://github.com/mapzy/mapzy/graphs/contributors">other contributors</a>.
      </p>

      <p>
        You can contact us anytime at <a class="text-white" href="mailto:bonjour@mapzy.io">bonjour@mapzy.io</a>
      </p>
    </div>

    <div class="flex flex-col justify-start items-start px-10">
      <!-- Only on small devices -->
      <div class="flex flex-col justify-start items-start md:hidden">
        {% for item in site.data.navigation %}
          <a href="{{ item.link }}" class="text-white">
            {{ item.name }}
          </a>
        {% endfor %}
      </div>


      {% for item in site.data.navigation_footer %}
        <a class="text-white" href="{{ item.link }}" >
          {{ item.name }}
        </a>
      {% endfor %}

      <p class="pt-2">
        &copy; {{ site.time | date: '%Y' }} Mapzy
      </p>
    </div>
  </div>
</footer>
