<footer>
  <div class="flex flex-col bg-mapzy-violet text-white l py-4 px-8 w-full text-sm">
    <div class=" flex flex-row items-center justify-center w-full mb-4">
      <div class="mx-4">
        Mapzy is independent, self-funded and open-source (<a href="https://github.com/mapzy/mapzy">GitHub</a>). Made by <a href="https://twitter.com/SagGpt">@saggpt</a>, <a href="https://twitter.com/canolcer">@canolcer</a> and <a href="https://github.com/mapzy/mapzy/graphs/contributors">other contributors</a>. You can contact us at <a href="mailto:bonjour@mapzy.io">bonjour@mapzy.io</a>
      </div>
    </div>
    <div class="bg-mapzy-violet text-white flex flex-row items-center justify-center w-full mb-4">
      <div class="flex flex-row items-center justify-center">
        {% for item in site.data.navigation_footer %}
          <a href="{{ item.link }}" class="mx-4" >
            {{ item.name }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="w-full text-center mb-4">
      &copy; {{ site.time | date: '%Y' }} Mapzy
    </div>
  </div>
</footer>