<header>
<div class="flex flex-col md:flex-row items-center justify-between w-full pt-2 px-16 mb-12">
  <a href="/">
    <img src="{{ "/assets/images/logo.png" | relative_url }}" class="h-16"/>
  </a>
  <nav class="hidden md:flex md:flex-row md:pt-0 items-center justify-end w-full">
    {% for item in site.data.navigation %}
      <a href="{{ item.link }}" class="mx-4 no-underline font-medium text-black">
        {{ item.name }}
      </a>
    {% endfor %}
    <a href="https://app.mapzy.io/account/login" class="mx-4 no-underline font-medium text-black">Sign in</a>
    <a href="https://app.mapzy.io/account/register" class="button-main mx-4">Start free trial</a>
  </nav>
</div>
</header>