<header>
<div class="flex flex-row items-center justify-between w-full py-4 px-8 mb-12">
  <a href="/">
    <img src="{{ "/assets/images/mapzy_logo.png" | relative_url }}" class="w-40"/>
  </a>
  <nav class="flex flex-row items-center justify-end w-full">
    {% for item in site.data.navigation %}
      {% if item.name != "Features" %}
        <a href="{{ item.link }}" class="mx-4 no-underline font-medium text-black">
          {{ item.name }}
        </a>
      {% endif %}
    {% endfor %}
    <a href="https://app.mapzy.io/account/login" class="mx-4 no-underline font-medium text-black">Sign in</a>
    <a href="https://app.mapzy.io/account/register" class="button-main mx-4">Start free trial</a>
  </nav>
</div>
</header>