---
layout: page
title: "Features"
permalink: "/features"
---

<div class="text-center">
  <p class="my-4">
    Mapzy focuses on doing few things really well. Our goal is that you can add a map with your stores (or any kinds of points) to your website as simply and quickly as possible. Mapzy is privacy-friendly, doesn't track your visitors or add any non-essential cookies, complying fully with GDPR.
  </p>
</div>

{% for feature in site.data.features %}
  {% include single_feature.html
    title=feature.title
    description=feature.description
    image_path=feature.image_path
  %}
{% endfor %}
