---
layout: default
title: "Simple and pretty store locator for your website"
permalink: "/"
description: "With Mapzy, you can add a beautiful store locator to your website without touching a line of code. It's simple, looks great on every device and doesn't invade your privacy."
---

<h1 class="text-center text-4xl mb-4 mt-8 px-10">
  Simple and pretty <span class="border-b-4 border-mapzy-red-light">store locator</span>
</h1>
<div class="text-justify px-10 md:text-center">
  <p class="my-4">
    With Mapzy, you can add a beautiful store locator to your website without touching a line of code. <br>
    It's simple, looks great on every device and doesn't invade your privacy.
  </p>
</div>
<div class="flex flex-col w-full items-center justify-center text-center">
  <a href="https://app.mapzy.io/account/register" class="button-main my-4">Get started</a>
</div>

<h2 class="text-2xl mt-6 mb-4 font-medium">Here's how it looks like</h2>

<div class="w-full my-4 mx-10 px-10">
  <iframe
    src="https://app.mapzy.io/maps/2"
    allow="geolocation"
    title="Map by mapzy.io"
    loading="lazy"
    referrerpolicy="no-referrer"
    height="600px"
    width="100%"
  >
  </iframe>
</div>

<div class="w-full px-10 mb-12">
  {% for feature in site.data.features %}
    {% include single_feature.html
      title=feature.title
      description=feature.description
      image_path=feature.image_path
      video_path=feature.video_path
    %}
  {% endfor %}
</div>