---
layout: page
title: "Pricing"
permalink: "/pricing"
description: "Our aim is to provide a simpe set of features at a fair price, so that every fresh
              entrepreneur can afford it."
---

<div class="text-center">
  <p class="my-4">
    All product features are fully available on every plan. The only restriction is how many locations you can add: your plan is automatically upgraded or downgraded based on your usage. Each plan comes with a 2-week free trial, no credit card required.
  </p>
</div>

<div class="flex flex-row justify-center items-center my-4 w-full">
  {% for pricing in site.data.pricing %}
    {% include single_pricing.html
      name=pricing.name
      price=pricing.price
      locations=pricing.locations
    %}
  {% endfor %}
</div>

<div class="flex flex-col w-full items-center justify-center text-center mt-4">
  <a href="" class="button-main my-4">Start free trial</a>
</div>

<div class="text-xl mt-6 font-medium">
    Included with all plans:
</div>

<div class="flex flex-row flex-wrap justify-center items-center my-2 w-full">

  {% for feature in site.data.features %}
    {% include single_feature_preview.html
      title=feature.title
      summary=feature.summary
    %}
  {% endfor %}
</div>

<p class="text text-gray-600 mb-4">
  <a href="/features">Learn more about the features</a>
</p>
